<!-- <h5 class="text-center" style="color: blue;">User Data</h5> -->
<div class="container" >
    <div class="row">
      <div class="col-md-3 ">
        <div class="text-center">
          <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
          style=" width:250px;
          height:250px;
          border-radius:120px;
          border-color: blue;">
          <h4 class="text-center" style="color: blue;">Username</h4>
         <p class="text-center">Specialty</p>
         <button name="submit" type="submit" class="btn btn-primary btn-xs">Setting</button>
         <button type="button" class="btn btn-default" onclick="location.href='#/dashboard'">Back</button>
        </div>
      </div>
      <div class="col-md-9" style="filter: drop-shadow(5px 5px 10px #444);">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                        <hr>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <form>
                              <div class="form-group row">
                                  <label for="Name" class="col-4 col-form-label">Name*</label> 
                                  <div class="col-8">
                                    <input id="Name" name="Name" placeholder="Name" required="required" [(ngModel)]="prospect.prospect_name" class="form-control here" type="text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Surnames" class="col-4 col-form-label">Surnames*</label> 
                                    <div class="col-8">
                                      <input id="Surnames" name="Surnames" placeholder="Surnames" required="required" class="form-control here" type="text" [(ngModel)]="prospect.prospect_lastname">
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">Age/Phone*</label> 
                                    <form class="form-inline" role="form">
                                        <div class="form-group col-6">
                                            <input id="Age" name="Age" placeholder="Age" class="form-control here" required="required" type="text" [(ngModel)]="prospect.prospect_birthday">
                                          </div>
                                      <div class="form-group col-6">
                                          <input id="Phone" name="Phone" placeholder="Phone" class="form-control here" required="required" type="text" [(ngModel)]="prospect.prospect_phonenumber">
                                        </div>
                                      </form>
                                  </div>
                                <div class="form-group row">
                                    <label for="Title" class="col-4 col-form-label">Title</label> 
                                    <div class="col-8">
                                      <select id="Title" name="Title" class="custom-select">
                                        <option value="Developer">Developer</option>
                                        <option value="Implementer">Implementer</option>
                                        <option value="Contributor">Contributor</option>
                                        <option value="Others">Others</option>
                                      </select>
                                    </div>
                                  </div> 
                                  <div class="form-group row">
                                      <label for="Software" class="col-4 col-form-label">Software listing</label> 
                                      <div class="col-8">
                                        <input id="Software" name="Software" placeholder="Software" class="form-control here" type="text">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="direction" class="col-4 col-form-label">Direction*</label> 
                                        <form class="form-inline" role="form">
                                            <div class="form-group col-6">
                                                <select id="country" name="country" class="custom-select">
                                                  <option value="">Mexico</option>
                                                  <option value="">Venezuela</option>
                                                </select>
                                              </div>
                                          <div class="form-group col-6">
                                            <select id="city" name="city" class="custom-select">
                                              <option value="">Texas</option>
                                              <option value="">Barquisimeto</option>
                                            </select>                                     
                                           </div>
                                          </form>
                                      </div>
                                
                                <div class="form-group row">
                                  <label for="pass" class="col-4 col-form-label">Salary</label> 
                                  <div class="col-8">
                                    <input id="Salary" name="Salary" placeholder="Salary" class="form-control here" required="required" type="text">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Title" class="col-4 col-form-label">Source</label> 
                                    <div class="col-8">
                                      <select id="Title" name="Title" class="custom-select">
                                        <option value="Developer">LinkedIn</option>
                                        <option value="Implementer">Referred</option>
                                        <option value="Contributor">Twitter</option>
                                        <option value="Others">Others</option>
                                      </select>
                                    </div>
                                  </div>
                                  <!-- <div class="form-group row">
                                      <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary text-center">Save</button>
                                      </div>
                                    </div> -->
                              </form>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div>