<div class="row">
    <div class="col-md-12">
      
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
       <!-- <ngx-multiselect
        [(ngModel)]="selectedCountry"
        [options]="countries"
        ngDefaultControl>
      </ngx-multiselect>-->
          <span  (click)="OpenActivityModal(template,'save')" class="btn btn-primary btn-xs">Add New Activity</span>
          <br /><br />
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
               
                <th>Suject</th>
                <th>Description</th>
                <th>Level</th>
                <th>Tecnology</th>
            
              </thead>
              <tbody>
                <tr *ngFor="let item of UserList;let i = index">
                  
                  <td>{{item.userName}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.lastName}}</td>            
                  <td>{{item.lastSessionDateTime | date}}</td> 
                  <td><span class="btn btn-primary btn-xs" (click)="OpenActivityModal(template,'edit',i)">
                      <span class="nc-icon nc-ruler-pencil"></span></span></td>
                 
                </tr>
              </tbody>
            </table>
    
          
  
  
      </div>
    </div>
  
    <ng-template #template>
     
        <div class="modal-header">
         
          <h4 class="modal-title" id="add-modal-label">{{titleModal}}</h4>
        </div>
        <div class="modal-body">
        
         
            <div class="form-group">
                <label class="col-sm-2 control-label">Subject</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  [(ngModel)]="Activity"/>
                </div>
              </div>
              
              
              
              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control"  [(ngModel)]="Activity"/>
                </div>
              </div>
          <div class="form-group">
            <label class="col-sm-7 control-label" >Select level</label>
            <select class="form-control"  [(ngModel)]="Activity">
             <option *ngFor="let item of nivelList; let i = index" [ngValue]="activity">
                {{nivelList[i].nivelName}}
              </option>
             </select>
          </div>
          
          <div class="form-group">
            <label class="col-sm-7 control-label" >Select Tecnology </label>
          <ngx-multiselect
            [(ngModel)]="selectedCountry"
            [options]="countries"
            ngDefaultControl>
          </ngx-multiselect>
          </div>
          <br>
          <br>

          
          
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
          <div *ngIf="save"><button (click)="saveActivity()" type="submit" class="btn btn-primary">Activity</button></div>
          <div *ngIf="edit"><button (click)="editActivity()" type="submit" class="btn btn-primary">Edit</button></div>
        </div>
       <!-- <div class="table-responsive">
            <h6>Activity by User</h6>
        <table id="mytable1" class="table table-bordred table-striped">
            <thead>
             
              <th>Hardware Name</th>
              <th>nivel Name</th>      
              <th>Delete</th>
          
            </thead>
            <tbody>
              <tr *ngFor="let item of ActivityList;let i = index">
                <td>{{item.nivelName}}</td>            
                <td>{{item.hardwareName}}</td> 
                <td><span class="btn btn-primary btn-xs" >
                    <span class="nc-icon nc-simple-remove" (click)="deleteActivity(i)"></span></span></td>
               
              </tr>
            </tbody>
          </table>
        </div>-->
        
    </div>
    </ng-template>
    <ng-template #confirm>
      <div class="modal-body text-center">
        <p>Do you want to Delete?</p>
        <button type="button" class="btn btn-default" (click)="deleteActivity()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="onClose()" >No</button>
      </div>
    </ng-template>


    <ng-template #show>
        <div class="modal-body text-center">
          <p>Do you want to Delete?</p>
          
          <button type="button" class="btn btn-primary" (click)="onClose()" >Cerrar</button>
        </div>
      </ng-template>
  </div>
  