<div class="row">
  <div class="col-md-12">
    
      <div class="card-header">
        <h4 class="card-title align-center">Prospect</h4>
      </div>
    
       <span  (click)="OpenTechnologyModal(template,'save')" class="btn btn-primary btn-xs">Add New Prospect</span>
        <br /><br />
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Name</th>
              <th>Last Name</th>
              <th>Title</th>
              <th>Salary</th>
              <th>Detalles</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of prospectList;let i = index">
                <td>{{item.prospect_name}}</td>
                <td>{{item.prospect_lastname}}</td>
                <td>{{item.title_name}}</td>
                <td>{{item.prospect_salary}}</td>
                
               
                
                <td><span class="btn btn-primary btn-xs" [routerLink]="['/user']">
                    <span class="nc-icon nc-tap-01"></span></span></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

  <ng-template #template>
   
      <div class="modal-header">
       
        <h4 class="modal-title" id="add-modal-label">Prospect</h4>
      </div>
      <div class="modal-body">       
        <div class="form-group">
          <div class="col-sm-10">
            <form>
              <div class="form-group row">
                  <label for="Name" class="col-4 col-form-label">Name*</label> 
                  <div class="col-8">
                    <input id="Name" name="Name" placeholder="Name" required="required" class="form-control here" type="text">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="Surnames" class="col-4 col-form-label">Surnames*</label> 
                    <div class="col-8">
                      <input id="Surnames" name="Surnames" placeholder="Surnames" required="required" class="form-control here" type="text">
                    </div>
                  </div>
                <div class="form-group row">
                    <label for="username" class="col-4 col-form-label">Age/Phone*</label> 
                    <form class="form-inline" role="form">
                        <div class="form-group col-6">
                            <input id="Age" name="Age" placeholder="Age" class="form-control here" required="required" type="text">
                          </div>
                      <div class="form-group col-6">
                          <input id="Phone" name="Phone" placeholder="Phone" class="form-control here" required="required" type="text">
                        </div>
                      </form>
                  </div>
                <div class="form-group row">
                  <label for="Specialty" class="col-4 col-form-label">Specialty*</label> 
                  <div class="col-8">
                    <input id="Specialty" name="Specialty" placeholder="Specialty" required="required" class="form-control here" type="text">
                  </div>
                </div>

                  <div class="form-group row">
                      <label for="Title" class="col-4 col-form-label">Title</label> 
                      <div class="col-8">
                        <select id="Title" name="Title" class="custom-select">
                          <option value="Developer">Developer</option>
                          <option value="Implementer">Implementer</option>
                          <option value="Contributor">Contributor</option>
                          <option value="Others">Others</option>
                        </select>
                      </div>
                    </div> 

                  


                  <div class="form-group row">
                      <label for="Title" class="col-4 col-form-label">Software</label> 
                      <div class="d-flex justify-content-center my-2">  
                    <ngx-multiselect
                      [(ngModel)]="selectedSoftware"
                      [options]="software"
                      ngDefaultControl>
                    </ngx-multiselect>
                  </div>
                <br>
                    
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-4 col-form-label">Direction*</label> 
                        <div class="form-group row">
                          
                            <div class="col-8">
                              <select id="Title" name="Title" class="custom-select">
                                <option value="Developer">Mexico</option>
                              </select>
                            </div>
                          </div> 
    
                          <div class="form-group row">
                             
                              <div class="col-8">
                                <select id="Title" name="Title" class="custom-select">
                                  <option value="Developer">Acarigua</option>
                                </select>
                              </div>
                            </div> 
                      </div>
                
                <div class="form-group row">
                  <label for="pass" class="col-4 col-form-label">Salary</label> 
                  <div class="col-8">
                    <input id="Salary" name="Salary" placeholder="Salary" class="form-control here" required="required" type="text">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="Title" class="col-4 col-form-label">Source</label> 
                    <div class="col-8">
                      <select id="Title" name="Title" class="custom-select">
                        <option value="Developer">LinkedIn</option>
                        <option value="Implementer">Referred</option>
                        <option value="Contributor">Twitter</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                      <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary text-center">Save</button>
                      </div>
                    </div> -->
              </form>
          </div>
        </div>
        
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
        <div ><button  type="submit" class="btn btn-primary">Save</button></div>

      </div>
  
  </ng-template>
  <!--<ng-template #confirm>
    <div class="modal-body text-center">
      <p>Do you want to Delete?</p>
      <button type="button" class="btn btn-default" (click)="deleteTechnology()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="onClose()" >No</button>
    </div>
  </ng-template>-->
</div>