<div class="row">

  <div class="col-md-8">
 <div class="row">
<div class="col-sm-6" *ngFor="let item of labels;let i = index">
    <div class="card">
      <div class="card-body">
          <li class="list-group-item" style="background-color:#17b8989e"><b>Subject:</b> Cras justo odio</li>
          <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Description: </b>{{item}}</li>
          <li class="list-group-item"><b>Level: </b>Cras justo odio lo</li>
          <li class="list-group-item"><b>Tecnology: </b>Dapibus ac facilisis in</li>
          </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="col md-8">
    <!-- ========================================== -->
    <div class="card">
        <div class="card-header">
          <h4 class="card- text-center">Team Members</h4>
        </div>
        <div class="card-body">
    <ngb-accordion [closeOthers]="true" >
        
 <!--list user with activity-->
 <ngb-panel id="static-1" >
    <ng-template ngbPanelTitle>
        <div class="row">
            <div>
              Jesus Enrique
              <br />
              <span class="text-success">
                <small>Developer</small>
              </span>
            </div>
            
          </div></ng-template>
  <ng-template ngbPanelContent>
     <div class="table-responsive"> 
       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
             <tr>
              <th scope="row">1</th>
              <td>Perform Crud in ASP.NET MVC</td>
              <td>accomplished</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Perform Crud in ASP.NET with angular</td>
                <td>accomplished</td>
              </tr>
            <tr>
                <th scope="row">3</th>
                <td>create ticket system for new users</td>
                <td>in process</td>
            </tr>
          </tbody>
        </table>
        </div>
  </ng-template>
</ngb-panel>


<ngb-panel id="static-2" >
    <ng-template ngbPanelTitle>
        <div class="row">
            <div>
              Jonathan Falcon
              <br />
              <span class="text-success">
                <small>Developer</small>
              </span>
            </div>
            
          </div></ng-template>
  <ng-template ngbPanelContent>
     <div class="table-responsive"> 
       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subject</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
             <tr>
              <th scope="row">1</th>
              <td>Perform Crud in ASP.NET MVC</td>
              <td>accomplished</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Perform Crud in ASP.NET with angular</td>
                <td>accomplished</td>
              </tr>
            <tr>
                <th scope="row">3</th>
                <td>create ticket system for new users</td>
                <td>in process</td>
            </tr>
          </tbody>
        </table>
        </div>
  </ng-template>
</ngb-panel>

  <ngb-panel id="static-3" >
      <ng-template ngbPanelTitle>
          <div class="row">
              <div>
                Angelica Adan
                <br />
                <span class="text-success">
                  <small>Developer</small>
                </span>
              </div>
              
            </div></ng-template>
    <ng-template ngbPanelContent>
       <div class="table-responsive"> 
         <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th scope="row">1</th>
                <td>Perform Crud in ASP.NET MVC</td>
                <td>accomplished</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Perform Crud in ASP.NET with angular</td>
                  <td>accomplished</td>
                </tr>
              <tr>
                  <th scope="row">3</th>
                  <td>create ticket system for new users</td>
                  <td>in process</td>
              </tr>
            </tbody>
          </table>
          </div>
    </ng-template>
  </ngb-panel>

   <ngb-panel id="static-4" >
      <ng-template ngbPanelTitle>
          <div class="row">
              <div>
                Luis Paredes
                <br />
                <span class="text-success">
                  <small>Developer</small>
                </span>
              </div>
              
            </div></ng-template>
    <ng-template ngbPanelContent>
       <div class="container table-responsive"> 
         <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                <th scope="row">1</th>
                <td>Perform Crud in ASP.NET MVC</td>
                <td>accomplished</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Perform Crud in ASP.NET with angular</td>
                  <td>accomplished</td>
                </tr>
              <tr>
                  <th scope="row">3</th>
                  <td>create ticket system for new users</td>
                  <td>in process</td>
              </tr>
            </tbody>
          </table>
          </div>
    </ng-template>
  </ngb-panel>

</ngb-accordion>
  </div>
</div>  </div>
</div>
